{% extends 'base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block body %}

  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{ pageTitle }}</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for noticia in news %}
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://picsum.photos/419/225?id={{ loop.index }}" alt="{{ noticia.title }}">

                <div class="card-body">
                  <p class="card-text">
                  <h3>{{ noticia.title }}</h3>
                  {{ noticia.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Leia</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Detalhes</button>
                    </div>
                    <small class="text-muted">{{ noticia.create_at|ago }}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </main>
{% endblock %}